/*  selector + propiedad + valor */

* {
    justify-content: center;


}

body {
    background-color: white;
    font-family: "Epunda Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

header {
    background-color: rgb(57, 133, 57);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin: 0 40px;
    margin-top: 10px;
}

nav a {
    color: rgb(211, 215, 219);
    text-decoration: none;
    font-size: x-large;
}

.boton-buscar {
    text-align: center;
}

#myinput {
    width: 50%;
    height: 80%;
    margin: 0 15 0 15px;
}

.titulo {
    color: rgb(211, 215, 219);
    font-size: 80px;
    margin: 40px;
    padding: 2%;
    text-align: center;
    text-decoration: overline;
    font-family: 'Times New Roman', Times, serif;
}

.titulo-categoria {
    color: rgb(57, 133, 57);
    font-size: 35px;
    margin: 35px;
    text-align: center;
    text-decoration: underline;
}

.articulos {
    display: flex;
    flex-direction: row;
}

article {
    border: solid 3px rgb(57, 133, 57);
    border-radius: 10px;
    margin: 10px;
    width: 30%;
}

.articulos img {
    display: block;
    margin: 0 auto;
}

.descripcion {
    font-size: x-large;
    margin: 10px;
    text-align: center;
}

.comprar {
    cursor: pointer;
    background-color: rgb(57, 133, 57);
    color: rgb(233, 231, 231);
    font-size: 16px;

}

.comprar-c {
    display: flex;
    justify-self: center;
    cursor: pointer;
    background-color: rgb(57, 133, 57);
    color: rgb(233, 231, 231);
    font-size: 16px;
}

.comprar-d {
    display: flex;
    justify-self: flex-end;
    cursor: pointer;
    background-color: rgb(57, 133, 57);
    color: rgb(233, 231, 231);
    font-size: 16px;
}

.nuestrasmarcas {
    display: flex;
    flex-direction: row;
    background-color: rgb(57, 133, 57);
    padding: 1%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.infoiconos {
    display: flex;
    flex-direction: row;
    gap: 20%;
    background-color: rgb(57, 133, 57);
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

.iconos {
    display: flex;
    justify-content: center;
}

.iconos span {
    font-size: x-large;
    font-weight: 700;
}

.local-padre {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    height: 80vh;
    gap: 15px;
    grid-template-areas:
        "uno uno dos"
        "tres cuatro dos";
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
    place-items: center;
}


.local-1 {
    grid-area: uno;
}

.local-2 {
    grid-area: dos;
}

.local-3 {
    grid-area: tres;
}

.local-4 {
    grid-area: cuatro;
}

footer {
    background-color: rgb(57, 133, 57);
    text-align: center;
    padding: 1%;
}

.row {
    margin-top: 15%;
    margin-bottom: 10%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background: rgb(240, 238, 238);
}

table th td {
    border: 1px solid rgb(211, 215, 219);
}

th td {
    padding: 10px;
    text-align: center;
}

th {
    background: rgb(240, 238, 238);
}

tr:last-child {
    font-weight: bold;
    text-align: center;
}

@media (max-width:425px) {
    nav ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
    }

    .articulos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .articulos img {
        max-width: 100%;
        height: auto;
    }

    .descripcion {
        font-size: large;
    }

    .infoiconos {
        display: flex;
        flex-direction: column;
        gap: 20%;
        background-color: rgb(57, 133, 57);
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 5%;
    }

    .local-padre {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 40%;
        height: auto;
    }

    .local-padre video {
        max-width: 100%;
        height: auto;
    }


    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}