.nuestrasmarcas {
  @include flex-center(row);
  background-color: $green;
  padding: 1%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.infoiconos {
  @include flex-center(row);
  gap: 20%;
  background-color: $green;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
}

.iconos {
  display: flex;
  justify-content: center;

  span {
    font-size: x-large;
    font-weight: 700;
  }
}
