    @media (max-width:500px) {
        body {
            overflow-x: hidden;
        }

        nav ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            text-align: center;
        }

        .titulo {
            font-size: 60px;
        }

        .articulos {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }


        .descripcion {
            font-size: large;
            text-align: justify;
        }

        .infoiconos {
            display: flex;
            flex-direction: column;
            gap: 20%;
            background-color: $green;
            margin-top: 5%;
            margin-bottom: 5%;
            padding: 5%;
        }

        .local-padre {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            max-width: 40%;
            height: auto;

            video {
                max-width: 100%;
                height: auto;
            }
        }

        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }