* {
  justify-content: center;
}

body {
  background-color: $white;
  font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.titulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #ff9900d8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  text-align: center;
  letter-spacing: 2px;
  margin-top: 30px;
  font-size: 80px;
}

.titulo-categoria {
  color: map-get($colores, "primario");
  font-size: map-get($medida, "subtitulo");
  margin: 35px;
  text-align: center;
  text-decoration: underline;
}

a {
  display: flex;

  .comprar {
    @extend .boton-base;
    justify-self: flex-start;
  }

  .comprar-c {
    @extend .boton-base;
    justify-self: center
  }

  .comprar-d {
    @extend .boton-base;
    justify-self: flex-end;
  }
}

.articulos {
  @include flex-center(row);

  article {
    border: solid 3px $green;
    border-radius: 10px;
    margin: 10px;
    width: 30%;
  }

  img {
    display: block;
    margin: 0 auto;
    transition: 0.35s ease;
  }

  img:hover {
    transform: scale(1.26);
  }
}

.descripcion {
  font-size: x-large;
  margin: 10px;
  text-align: center;
}

.row {
  margin-top: 15%;
  margin-bottom: 10%;
}


@each $nombre, $color in $colores {
  .texto-#{$nombre} {
    color: $color;
  }
}
